#outdiv {
    width:326px;
    height:246px;
    border: 3px solid;
}
#compat {
    display: none;
}
label.error {
    color: #a94442;
    font-weight: normal;
    margin-top: 5px;
}
.btn-primary {
    background-color: #29AAE2;
    border-color: #1F8BB9;
}
.navbar-brand {
    padding: 5px;
}
.thehex-red {
    color: #ED1C24;
}.thehex-blue {
    color: #29AAE2;
}.thehex-yellow {
    color: #FFF200;
}